/* HEADER */
header{
    display:flex;
    justify-content: center;
    -webkit-box-shadow: -1px 5px 10px 0px rgba(138,134,134,0.75);
    font-size:1.5rem;
    position: relative;
    /* relative = naturelle si je ne mets pas cette instruction je perds ma shadow sur la box */
}
.header_location{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    font-size:1.2rem;
    font-weight: bold;
    color:#454444;
    background-color: #f2f2f2;
}