@import "sass/base/general";
@import "sass/base/fonts";
@import "sass/composants/buttons";
@import "sass/layout/header";
@import "sass/layout/main";
@import "sass/layout/intro";
@import "sass/layout/research";
@import "sass/layout/results";
@import "sass/layout/footer";


:root{
    --purple:#9356DC;
    --pink:#FF79DA;
    --cyan:#99E2D0;
}