/* GENERAL */
*{
    box-sizing: border-box;
}


:root{
    --purple:#9356DC;
    --pink:#FF79DA;
    --cyan:#99E2D0;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;/* Logo + titre footer */
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1200px;
    margin:auto;
}

a{
    color:inherit;

    text-decoration: none;
}

/* HEADER */
header{
    text-align: center;
    border:1px solid blue;
    -webkit-box-shadow: -1px 5px 10px 0px rgba(138,134,134,0.75);
    padding:1rem 0;
}



/* FOOTER */
footer li{
    list-style: none;
}