/* BUTTONS */
button{
    border:none;
    border-radius: 2rem;
    @include card-shadow;
    height:4rem;
    width: 18rem;
    color:white;
    font-size:1.2rem;
    font-weight: 400;
    padding:1rem 2rem;
    background-image: linear-gradient(to right bottom, #ff79d9, #e96eda, #d064db, #b35cdc, #9356dc);
}

button:hover{
    transform: scale(1.15);
    transition:all 100ms;
    opacity:0.8;
    cursor:pointer;
}

// faire varier en fonction de RGBA (alpha 0 pour transparente)
// $cd-btn-start: rgba(1, 28, 55, 0);
// $cd-btn-end: rgba(1, 28, 55, 1);