/* GENERAL */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    max-width: 100%;
    /*mettre plutot width en 100%*/
    margin:auto;
}
h3{
    margin:0;
}
h2{
    margin-bottom: 1rem;
    padding:2rem;
}
p{
    margin-top:0.2rem;
}
